<!DOCTYPE html>
<html>
<head>
    <!--Import Google Icon Font-->
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">

    <!--Import materialize.css-->
    <link type="text/css" rel="stylesheet" href="css/materialize.css"  media="screen,projection"/>

    <!--Let browser know website is optimized for mobile-->
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>

    <!-- jquery -->
    <script type="text/javascript" src="js/jquery-3.3.1.min.js"></script>

    <script>
        $(document).ready(function() {
            // profile dropdown
            options = {
                alignment: 'right',
                constrainWidth: false,
                coverTrigger: false
            }
            $('.dropdown-trigger').dropdown(options);
            $('.tabs').tabs();
        });
    </script>

    <style>
        .tabs .indicator {
            background-color: white;
        }
        .brand-logo {
            padding-left: 1% !important;
        }
        #search-bar {
            width: 40%; 
            margin-left: 30%;
        }
        #prof-pic {
            max-height: 150px;
        }
        h4 {
            margin-top: 0;
        }
        .qa-count {
            padding: 0;
        }
        .tabs {
            margin-top: 1%;
        }
        .qa-info {
            padding: 1%;
        }
    </style>
</head>
<body class="layout-dark">
    <!-- nav bar -->
    <div class="navbar-fixed">
        <nav>
            <div class="nav-wrapper blue-grey darken-4">
                <a href="#" class="brand-logo">Quora</a>
                <ul class="right">
                    <li>
                        <a class="waves-effect waves-light btn-flat dropdown-trigger" data-target="menu-dropdown">
                            <i class="material-icons white-text">person</i>
                        </a>
                    </li>
                </ul>
                <div id="search-bar" contenteditable="true" class="blue-grey darken-2 btn-flat white-text">
                    Search
                </div>
            </div>
        </nav>
    </div>

    <!-- dropdown menu -->
    <ul id='menu-dropdown' class='dropdown-content'>
        <li><a href="#!">Logout</a></li>
    </ul>

    <!-- profile info -->
    <div class="row">
        <div id="profile-info" class="col s3">
            <div class="card">
                    <div class="card-img center">
                        <img id="prof-pic" src="img/avatar-7.png" alt="prof-pic" class="responsive-img">
                    </div>
                <div class="card-content">
                    <h4>Roger Waters</h4>
                    <p>
                        About Me!
                        I am a very simple card. 
                        I am good at containing small bits of information. 
                        I am convenient because I require little markup to use effectively.
                    </p>
                </div>
            </div>
            <div class="card-panel qa-info">
                <div class="row">
                    <div class="col s6 center-align qa-count">
                        <h5>6</h5><p>Questions</p>
                    </div>
                    <div class="col s6 center-align qa-count">
                            <h5>5</h5><p>Answers</p>
                        </div>
                    <p></p>
                </div>
            </div>
        </div>
        <div class="col s9">
            <ul class="tabs z-depth-1 blue-grey darken-4">
                <li class="tab col s6"><a href="#test1" class="active white-text">My Questions</a></li>
                <li class="tab col s6"><a class="white-text" href="#test2">My Answers</a></li>
            </ul>
            <div class="card">
                <div class="card-content">
                    <span class="card-title">Question</span>
                    <p>I am a very simple card. I am good at containing small bits of information.
                    I am convenient because I require little markup to use effectively.</p>
                </div>
                <div class="card-action">
                    <a href="#"><i class="material-icons green-text waves-effect waves-green">thumb_up</i></a>
                    <a href="#"><i class="material-icons red-text waves-effect waves-red">thumb_down</i></a>
                </div>
            </div>
        </div>
    </div>

    <!--JavaScript at end of body for optimized loading-->
    <script type="text/javascript" src="js/materialize.min.js"></script>
</body>
</html>