<!DOCTYPE html>
<html ng-app="qaApp">
<head>
    <!--Import Google Icon Font-->
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">

    <!--Import materialize.css-->
    <link type="text/css" rel="stylesheet" href="../static/materialize.css"  media="screen,projection"/>

    <!--Let browser know website is optimized for mobile-->
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>

    <script type="text/javascript" src="../static/jquery-3.3.1.min.js"></script>
    <script type="text/javascript" src="../static/angular.min.js"></script>
    <script type="text/javascript" src="../static/app.js"></script>

    <link type="text/css" rel="stylesheet" href="../static/style.css"/>

    <style>
        .row {
            margin: 0 !important;
        }
    </style>
</head>

<body class="blue-grey lighten-5" ng-controller="MainController" ng-cloak>
    <div ng-controller="QAController">
    <div class="navbar-fixed" ng-controller="SearchController">
        <nav>
            <div class="nav-wrapper blue-grey darken-4">
                <a href="" class="brand-logo">Quora</a>
                <ul class="right">
                    <li>
                        <a class="waves-effect waves-light btn-flat dropdown-trigger" data-target="menu-dropdown">
                            <i class="material-icons white-text">person</i>
                        </a>
                    </li>
                </ul>
                <div class="input-field">
                    <input ng-model="this.query" ng-change="this.getQuery()" ng-keyup="$event.keyCode == 13 && this.askQuestion()" type="text" id="search-bar" class="blue-grey darken-2 white-text autocomplete" placeholder="Search">
                </div>
            </div>
        </nav>
        <!-- Modal Structure -->
        <div id="ask-question" class="modal">
            <div class="modal-content">
                <h5>Ask Question</h5>
                <div class="input-field">
                    <input ng-model="this.query" type="text" id="question-field"></input>
                    <label for="question-field">Question</label>
                </div>
            </div>
            <div class="modal-footer">
                <a href="" ng-click="this.addQuestion()" class="modal-close waves-effect waves-green btn-flat">Ask</a>
                <a href="" ng-click="this.cancel()" class="modal-close waves-effect waves-red btn-flat">Cancel</a>
            </div>
        </div>
    </div>
    <ul id='menu-dropdown' class='dropdown-content'>
        <li><a href="/profile">Profile</a></li>
        <li class="divider" tabindex="-1"></li>
        <li><a href="">Logout</a></li>
    </ul>
    <div class="container">
        <div class="row" ng-repeat="post in posts">
            <div class="col s12 m12">
                <div class="card">
                    <div class="card-content">
                        <span class="card-title" ng-bind="post.question"></span>
                        <p class="blue-text" ng-bind="post.username"></p>
                    </div>
                    <div class="row" ng-repeat="answer in post.answers" ng-show="post.showAnswers">
                        <div class="col s12 m12">
                            <div class="card transparent">
                                <div class="card-content">
                                    <span class="card-title" ng-bind="answer[0]"></span>
                                    <p class="blue-text" ng-bind="answer[3]"></p>
                                </div>
                                <div class="card-action">
                                    <span style="vertical-align: bottom; font-size: 18px;" ng-bind="answer[1].length - 1"></span>
                                    <a href="" ng-click="this.vote(post._id, answer[0], 1, $index)"><i class="material-icons green-text waves-effect waves-green">thumb_up</i></a>
                                    <span style="vertical-align: bottom; font-size: 18px;" ng-bind="answer[2].length - 1"></span>
                                    <a href="" ng-click="this.vote(post._id, answer[0], 0, $index)"><i class="material-icons red-text waves-effect waves-red">thumb_down</i></a>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="row" ng-show="post.answering">
                        <div class="col s12">
                            <div class="card">
                                <div class="card-content">
                                    <div class="input-field">
                                        <textarea ng-model='post.userAnswer' id="answer-field" class="materialize-textarea"></textarea>
                                        <label for="answer-field">Answer</label>
                                    </div>
                                </div>
                                <div class="card-action">
                                    <a href="" class="teal-text btn-flat waves-effect" ng-click="openClose(post)">Cancel</a>
                                    <a href="" class="teal-text btn-flat waves-effect" ng-click="answerQuestionWrapper(post)">Submit</a>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="card-action" ng-show='!post.answering'>
                        <a href="" class="teal-text btn-flat waves-effect" ng-click="switchView(post)" ng-bind="post.showBtnText"></a>
                        <a href="" class="teal-text btn-flat waves-effect" ng-click="openClose(post)">Answer</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
    </div>
    <!--JavaScript at end of body for optimized loading-->
    <script type="text/javascript" src="../static/materialize.min.js"></script>
</body>
</html>